.container {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    color: black;
}



.title {
    text-align: center;
    margin-bottom: 40px;
}

.ordercard {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.ordercard hr {
    border: 3px solid black;
}

.customerinfo {
    margin-bottom: 25px;
}

.customerinfo p {
    margin: 6px 0;
}

.orderitems {
    margin-top: 20px;
}

.headerrow {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.itemrow {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.pricesummary {
    margin-top: 20px;
}

.pricesummary p {
    margin: 5px 0;
}

.total {
    font-size: 18px;
    font-weight: bold;
}